.nav-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    margin: 30px 100px;
}
.nav-logo{
    font-size: 1.3em;
    font-weight: bold;
    
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 90px;
    list-style: none;
}
.nav-menu li{
    cursor: pointer;
}
.nav-contact{
    background-color: rgba(245, 245, 245,0.8);
    color: black;
    padding: 10px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;

}
.nav-contact:hover{
    background-color: whitesmoke;
}

@media(max-width:800px){
     .nav-menu{
        display: none;
    }
}
@media(max-width:500px){
}
